/* @import url(https://fonts.googleapis.com/css?family=Exo+2:400,900,800,700,600,500,300,200,100); */
@font-face {
  font-family: Expressway;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ExpresswayRegular.ttf") format("truetype");
  font-display: swap;
}
/* @font-face {
  font-family: Expressway;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ExpresswaySemiBold.ttf") format("truetype");
  font-display: swap;
} */

@font-face {
  font-family: Expressway;
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/ExpresswayBold.ttf") format("truetype");
  font-display: swap;
}
html,input {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Expressway", sans-serif;
  font-size: 22px;
  letter-spacing: 1.9px;
  font-weight: 400;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

